.react-datepicker__input-container input {
  background-color: #222;
  color: #fff;
  font-size: 12px;
  border: none;
  font-weight: 700;
  padding-left: 15px;
  font-size: 14px;
  margin-top: 4px;
}


.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range) {
  background-color: #222;
  color: #fff;
}

.react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__month-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__quarter-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__year-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range) {
  background-color: #f0f0f0;
  color: #000;
}

.react-datepicker__header {
  background-color: #222;
  color: #fff;
}

.react-datepicker__current-month {
  color: #1ED760;
}

.react-datepicker__navigation-icon--next::before {
  border-color: #1ED760;
}

.react-datepicker__day-name {
  color: #fff;
}

.react-datepicker__month-container {
  background-color: #222;
}

.react-datepicker__day {
  color: #fff;
}

.react-datepicker__day:hover {
  background-color: #fff;
  color: #222;
  font-weight: bold;
}

.react-datepicker__day--selected:hover {
  background-color: #1ED760;
  color: #222;
}

.react-datepicker__day--disabled {
  color: rgb(128, 128, 128);

}

.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
  background-color: #1ED760 !important;
  color: #222;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  max-width: 150px;
  overflow: hidden;
}

.react-datepicker__input-container:input {
  max-width: 85%;
}